*{
    background-color: #97d5ff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}
img{
    text-indent: -10000px;
    border-radius: 10px;
    /* mix-blend-mode: multiply; */
}
img:hover{
    transform: scale(1.1);
}
.guess:hover,img:active{
    transform: scale(0.95);
}


/* .gameContainer{
    width:60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.polje,.guess,.znak,img{
    width: 64px;
    height:64px;
}

.polje{
    background-color: blue;
    box-shadow: 0px 0px 0px 1px black inset;
    border-radius: 10px;
}

.polje>img{
    border-radius: 10px;
}

.guess{
    background-color: darkgrey;
    border-radius: 50%;

}

.znak{
    background-color: white;
}

.horizontalno{
    display: flex;
    flex-direction: row;
    gap:150px;
}

.redLevo,.levred,.redDesno,.btnContainer,.znakovi{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.znakovi{
    margin-top: 30px;
}

.btnContainer{
    margin-top: 10px;
    gap:80px;
}


.dugme{
    all:unset;
    width:150px;
    height:75px;
    font-size: larger;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    color:white;
}
.dugme:hover{
    filter: brightness(85%);
    transform: scale(1.05);
}
.dugme:active{
    transform: scale(0.95);
}



.polukrug{
    width: 50px;
    height: 100px;
    border-radius: 100px 0 0 100px;
    position: absolute;
    top:1vh;
    left:2svh;
}
.polukrug:nth-child(n+3){
    left:7.7svh;
}
.pkb{
    background-color: white;
}
.pkp{
    background-color: #9735ff;
}
/* .drugiCont{
    width: 100px;
    height: 100px;
    position: absolute;
    top:2vh;
    left:4svh;
    z-index: 10;
    background: transparent;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media only screen and (max-width:768px){
    *{
        margin:0;
        padding:0;
    }
    body{
        margin-top:10px;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content:start;
        align-items: center;
        flex-direction: column;
        gap:5px;
    }
    .horizontalno{
        margin-left:5px;
        width: 100vw;
        height: 10svh;
        gap:15px;
    }
    .horizontalno:nth-child(8){
        margin-bottom: 25px;
    }
    .redLevo{
        width:301px;
        height:8svh;
        gap:3svw;
        align-items: center;
    }
    .redDesno{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        width: 25vw;
        height: 8vh;
        gap:0px;
       
    }
    .guess{
        height:25px;
        width:25px;
    }
    /* img{
        width: 15svw;
        height: 8svh;
    } */
    
    .znakovi{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 20svh;
    }
    .btnContainer{
        
        bottom: 0;
        height: 20svh;
        width: 100vw;
        gap:0px;
    }
    .dugme{
        height: 100%;
    }
    .dugme:first-child{
        width:75%;

    }
    .dugme:nth-child(2){
        background-color: red;
    }

    img,.polje,.znak{
        width: 15svw;
        height: 8svh;
    }
}

