*{
    background-color: #97d5ff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}


/* .gameContainer{
    width:60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.polje{
    width: 75px;
    height:75px;
    background-color: #9735ff;
    border-radius: 10px;
}

.guess{
    width: 75px;
    height: 75px;
    background-color: darkgrey;
    border-radius: 50%;
}

.horizontalno{
    display: flex;
    flex-direction: row;
    gap:150px;
}

.redLevo,.redDesno,.btnContainer{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.btnContainer{
    margin-top: 50px;
    gap:80px;
}


.dugme{
    all:unset;
    width:150px;
    height:75px;
    font-size: larger;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
}
.dugme:hover{
    filter: brightness(85%);
}